# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

# NuGet
packages/

# Arquivos temporários
*.tmp
*.temp

# Configurações locais
appsettings.Development.json

# Rider
.idea/

# VS Code
.vscode/